build/
*/.DS_Store
*/__pycache__/

# ignore all pycache everywhere
**/__pycache__/

# ignore pip packaging
**/pip-wheel-metadata/
**/dist/
**/build/

# ignore all egg-info directories
**/*.egg-info/

# ignore /out folder 
out/